@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(AudioWide.woff2) format('woff2'), url(AudioWide.woff) format('woff');
}
